<div class="row">
	<div class="col-lg-12">
		
		<div class="col-md-offset-2 col-md-6">
			<div class="card">
				<div class='card-head style-primary'>
					<header> Quantiam Technologies </header>
				</div>
				<div class='card-body'>
					
					<form class='form' ng-submit="authenticate()" ng-controller="AuthController">
						
						
						<div class="form-group">
					
						
							<input type="text" class="form-control input-lg ng-binding" ng-model="username" tooltip-placement="top" uib-tooltip="Use your Quantiam windows credentials. " >
							<label for="regular1">Username</label>
						</div>
						<div class="form-group">
							<input type="password" class="form-control input-lg" ng-model="password">
							<label for="regular1">Password</label>
						</div>
						
						<button style="float:right;" class='btn btn-primary' type="submit" > Submit </button>
					</form>
					
				</div>
			</div>
			
		</div>
	</div>
	
	</div>	