<div class='row'>
	
	
		   <uib-alert ng-if="!FRV.editable && !FRV.admin" >
				 <B> Notice: </B>  The period in which you could edit this slipcasting run has expired.  Please contact the database adminsitrator if you must edit this. 
			 </uib-alert>
			 
			   <div ng-if="FRV.admin && FRV.admin_edit_notice" class="alert-warning alert">
				<p> <B> Notice: </B>  You could edit this with admin rights.
				 <button class='btn btn-xs' ng-click="FRV.enableAmindEditing()" style='margin-left:30px' > Enable Editing </button>
				 </p>
				 </div>
				 
			<div ng-if="FRV.editable" class="alert-success alert">
				 <B> Notice: </B>  This run is currently editable. 
			
			 </div>
	
	
	   <div class="col-lg-9">
		 
		 
        <div class="card card-underline">
            <div class="card-head">
                    <header>Furnace Run: <span style="color: #778899" ng-if="FRV.furnacerunObj"> {{ FRV.furnacerunObj.identifier }} </span></header>
									
									<div class='tools'>

							<!-- 			<a class="btn btn-icon-toggle btn-refresh" tooltip-placement="top" uib-tooltip="Graphs" ui-sref="slipcastviewGraphs({ slipcastid: SFRV.furnacerunObj.manu_slipcasting_id })">
											<i class="fa fa-bar-chart" aria-hidden="true"></i>
										</a>
									 -->
							<!-- 			<a class='btn btn-icon-toggle btn-refresh'  ng-click="SVC.openModalJson()" tooltip-placement="top" uib-tooltip="Data Model">
											<i class="fa fa-code" style="font-size:15px" aria-hidden="true"></i>
										</a>
										
										<a class='btn btn-icon-toggle btn-refresh' style="font-size:15px;" tooltip-placement="top" uib-tooltip="Download">
												<i class="fa fa-download"   aria-hidden="true"></i>
										</a> -->
									
									</div>
									
										
            </div>
						
						
            <div class="card-body">
                <form class="form-inline">
										
				
									<div class='row'>
									
									
										<div class='col-lg-1 form-group' >
											
															<center><img width='100%' src="{{FRV.furnacerunObj.datamatrix}}"></img></center>
										</div>
									
									
									<div class="form-group col-sm-2" style="width:130px">
										<b> Furnace </b> 
									
											<select2 
																	style="font-size:11px;"
																	allow-clear=true
																	placeholder="Furnace Selection"
																	ng-change="FRV.updateFurnaceRunObj()"
																	options="select2request.fetchList('/furnace/list',null)"
																	ng-model="FRV.furnacerunObj.furnace_id"
																	ng-disabled="!FRV.editable"
																	></select2>
										
                    </div>		

										<div class="form-group col-lg-3" style="width:170px">
										<b> Run Name </b> <input  style="width:100%" type="text" class='form-control' ng-model="FRV.furnacerunObj.furnace_run_name" ng-blur="FRV.updateFurnaceRunObj()"
										placeholder="" 	ng-disabled="!FRV.editable"		> 
                    </div>  
										
										
										
										<div class="form-group col-lg-3" style="width:150px">
										<b> Run Type  </b> 
					
											
																		<select2 
																	style="font-size:11px;"
																	placeholder="Furnace Run Type"
																		ng-change="FRV.updateFurnaceRunObj()"
																	options="select2request.fetchList('/furnacerun/type/list',null)"
																	ng-model="FRV.furnacerunObj.furnace_run_type_id"
																	ng-disabled="!FRV.editable"
																	></select2>  
										
										
                    </div>
									
               

               
							 			
						
								
								     <div class="form-group col-lg-3">
						
											<b>Date Time</b> <br>

											<div class="dropdown">
												<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" >
													<div class="input-group">
													
													<input type="text" class="form-control"
													data-ng-model="FRV.furnacerunObj.created_date"
													ng-disabled="!FRV.editable"		>
													<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
													</div>
												</a>
												<ul class="dropdown-menu"  ng-if="FRV.editable" role="menu" aria-labelledby="dLabel">
													<datetimepicker 
													data-on-set-time="FRV.updateFurnaceRunObj()"
													data-ng-model="FRV.furnacerunObj.created_date"
													data-datetimepicker-config="{
													dropdownSelector: '#dropdown2',
													modelType: 'YYYY-MM-DD HH:mm:ss'
													
													}"
															
													/>
												</ul>
											</div>

                    </div>
										 
									
									</div>
                </form>
            </div>
        </div>
	
	
	
	
	
				<div class='row'>
					
					<div class='col-lg-9'>
						<div id="steel_thing" class='col-lg-8'>				
						
						
							<h3 class='page-header' style='margin-top:0px'>Steel <span style='margin-left:20px' ng-if="FRV.steelCount"><small>   {{FRV.steelCount}} Loaded</small> </span> 
								
									<div style='float:right'>
																
																
																<select2 
																				style="width: 100%; font-size:11px;"
																				ng-change="FRV.addSteel()"
																				placeholder="Steel Selection"
																				options="select2request.fetchList('/steel/list', {})"
																				ng-model="FRV.selectedSteel"
																				ng-disabled="!FRV.editable"
																				></select2>  
									
									</div>
								</h3>
								<table class='table table-striped table-stats table-condensed shadow'>
									<thead>
										<tr>
											<th style="width:5%" > Code </th>
											<th  style="width:20%"> ID </th>
											<th  style="width:20%"> Name </th>
								
											<th > Layer </th>
											<th > Position </th>
										
								
											<th> Actions</th>
										</tr>
									</thead>
									<tr ng-if="!FRV.furnacerunObj.steel[0]"><td colspan=9><center> No steel objects were found. </center></td></tr>
									
										<tr ng-repeat="Obj in FRV.furnacerunObj.steel" >
									
										
											<td>  <img  style="width:75%" src="{{Obj.datamatrix}}"></img>  </td>
											<td>  <b> QMIS-{{Obj.inventory_id}} </b>  </td>
											<td>   {{Obj.heat_id}} <span ng-if="Obj.rework">R:{{Obj.rework}}</span> </td>
										
										

										
												
											<td>
															<select2
																				style="width: 100%; font-size:11px;"
																				ng-change="FRV.editSteel($index)"
																				placeholder="Layer"
																				options="{allowClear:true}"
																				s2-options="layer as layer for layer in FRV.steelLayers"
																				ng-model="FRV.furnacerunObj.steel[$index].layer_id"
																				ng-disabled="!FRV.editable"
															></select2>  
									
												
											</td>
												
											<td>
														<select2
																				style="width: 100%; font-size:11px;"
																				ng-change="FRV.editSteel($index)"
																				placeholder="Position"
																				options="{allowClear:true}"
																				s2-options="layer as layer for layer in FRV.steelPositions"
																				ng-model="FRV.furnacerunObj.steel[$index].order_id"
																				ng-disabled="!FRV.editable"
															></select2>  
											</td>
											<td>
											
														<a 	ng-disabled="!FRV.editable"		
											class="btn btn-icon-toggle btn-refresh" tooltip-placement="top" uib-tooltip="Remove Steel" ng-click="FRV.removeSteel($index)">

															<i style="color:red;" class="fa fa-trash-o fa-1x"></i>
													</a>
												
											</td>
										</tr>
									
						
									
									</table>


						</div>
					</div>
				</div>
				
		
										
</div>	





<div class='col-lg-3'>
	
<div id="operators_thing">

	<h3 class='page-header' style='margin-top:0px'>Operators
		
		<div style='float:right'>
										<select2 
													
													style="font-size:11px;"
													placeholder="Operator Selection"
													ng-change="FRV.addOperator()"
													options="select2request.fetchList('/user/list', {'active':1})"
													ng-model="FRV.selectedOperator"
													ng-disabled="!FRV.editable"				
													>
																	 <option value="none" ></option> 
																
											</select2>
		</div>
											
		</h3>
						<table class='table table-striped table-stats table-condensed shadow'>
						<thead>
							<tr>
								<th> Name</th>
								<th>Action</th>
							</tr>
						</thead>
							<tr ng-if="!FRV.furnacerunObj.operators[0]"><td colspan=2><center>Please add an Operator</center></td></tr>
							<tr ng-repeat="operator in FRV.furnacerunObj.operators" >
								<td><b>{{operator.firstname}} {{operator.lastname}}</b></td>
								<td>
								<a 	ng-disabled="!FRV.editable"		
								class="btn btn-icon-toggle btn-refresh" tooltip-placement="top" uib-tooltip="Remove Operator" ng-click="FRV.removeOperator($index)">

                        <i style="color:red;" class="fa fa-trash-o fa-1x"></i>
                    </a>
									
									</td>
							</tr>
						
						
						
						</table>


	
	</div>
	
	
			
			
			
		<div id="profile_thing">				
			
			
				<h3 class='page-header' style='margin-top:0px'>Profile
					
						<div style='float:right'>
															<select2 
																	
																	style="font-size:11px;"
																	placeholder="Profile Selection"
																	ng-change="FRV.updateFurnaceRunObj()"
																	options="select2request.fetchList('/furnacerun/profile/list',{'active': 1})"
																	ng-model="FRV.furnacerunObj.furnace_profile_id"
																
																			ng-disabled="!FRV.editable"		
																			>
																					 <option value=""></option> 
																				
															</select2>
															
															
						
						
						</div>
					</h3>
					<table class='table table-striped table-stats table-condensed shadow'>
						<thead>
							<tr>
								<th> Attribute</th>
								<th> Value</th>
							</tr>
						</thead>
							<tr ng-if="!FRV.furnacerunObj.profile"><td colspan=2><center>Please select a Profile</center></td></tr>
							
							<tr ng-repeat="(key,value) in FRV.furnacerunObj.profile" ng-if="FRV.furnaceRunProfileFilter.indexOf(key) == -1 && value && key != 'steps'">
								<td><b>{{humanize(key)}}</b></td>
								<td>
									{{value}}
									</td>
							</tr>
						
			
						
						</table>


			</div>

	
</div>


						<hr>
						<div class='row'>
					
							<dropzone identifier="{{FRV.furnacerunObj.identifier}}" > </dropzone>

						</div>

						<hr>
						<div class='row'>
							
							<div class='col-md-6'>
							
							<comments identifier="{{FRV.furnacerunObj.identifier}}"> </comments>
							</div>
						</div>
</div>

