<TYSON>
	
	
	
							
								
	<div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
	
		<div class='row'>		
		
					<h3> Furnace Runs
									<div class="pull-right">
						
									<a ng-click="FRC.createFurnaceRun()" class="btn btn-icon-toggle btn-refresh" tooltip-placement="left" uib-tooltip="New Furnace Run">

														<i style="color:green;" class="fa fa-plus-circle fa-2x"></i>
									</a>
								
							</div>
						
						</h3>
			
		
															<select2 
																	style="font-size:11px;"
																	placeholder="Campaign Filter"
																	ng-change="FRC.updateTable()"
																	options="select2request.fetchList('/campaign/list',{})"
																	ng-model="FRC.campaignID"
													
																	></select2>
			
			
																			<select2 
																	style="font-size:11px;"
																	placeholder="Furnace Run Type Filter"
																	ng-change="FRC.updateTable()"
																	options="select2request.fetchList('/furnacerun/type/list',null)"
																	ng-model="FRC.furnaceruntypeID"
													
																	></select2>  
						
						
																			<select2 
																	style="font-size:11px;"
																	allow-clear=true
																	placeholder="Furnace Profile Filter"
																	ng-change="FRC.updateTable()"
																	options="select2request.fetchList('/furnacerun/profile/list',null)"
																	ng-model="FRC.furnaceprofileID"
													
																	></select2>
			
													<select2 
																	style="font-size:11px;"
																	placeholder="Furnace Filter"
																	ng-change="FRC.updateTable()"
																	options="select2request.fetchList('/furnace/list',null)"
																	ng-model="FRC.furnaceID"
													
																	></select2>
	
													
												
					
											
	
	
								</div>
	
	
				<table datatable="" dt-options="FRC.dtTable"  class="table table-condensed table-striped table-hover table-stats  dataTable shadow clickablerows" style='Width:100%; margin-top:10px;'>
		
				</table>
	</div>
		
</TYSON>