<div class='col-lg-12'>
	
	<h3 class='page-header' style='margin-top:0px'>Slip Viscosity
		
		
		 
			
	 
		<div style='float:right'>
					<a ng-click="VC.createViscosity()" class="btn btn-icon-toggle btn-refresh" tooltip-placement="left" uib-tooltip="New Measurement">

                        <i style="color:green;" class="fa fa-plus-circle fa-2x"></i>
                    </a>
		
		</div>
		
		
		</h3>
		
		
<center ng-if="!VC.slipObj.viscosity" style="height:170px; padding-top:20px;"><h3><small> Viscosity data is absent. </small></h3></center>
		
		  <hot-table  ng-if="VC.slipObj.viscosity" 
				settings="VC.handsOnTableSettings"
				height="170"
				col-headers=true
				datarows="VC.slipObj.viscosity"
				min-spare-rows=0
				on-after-change="VC.onAfterChange" 
			
    >
		 <hot-column data="created" title="'Date'" read-only></hot-column>
   
      <hot-column data="measurements.0.viscosity" title="'Viscosity 1'" type="'text'" ></hot-column>
      <hot-column data="measurements.1.viscosity" title="'Viscosity 2'" type="'text'" ></hot-column>
      <hot-column data="measurements.2.viscosity" title="'Viscosity 3'" type="'text'" ></hot-column>
      <hot-column data="measurements.3.viscosity" title="'Viscosity 4'" type="'text'" ></hot-column>
			<hot-column data="solvent_addition" title="'Solvent (+/-)'" type="'text'" ></hot-column>
			<hot-column data="temperature" title="'Slip Temperature'" type="'text'" ></hot-column>
  
   
      
		
  </hot-table>
		
<div style='margin-bottom:20px;' class='row'>
	
		<div class="col-md-4 col-md-offset-1">
			<b> Filtering Solvent Added (g) </b>
	
				<input placeholder="Solvent (g)" id="solvent_addition"
				
				ng-model='VC.slipObj.solvent_added_at_filtering'
				
				ng-blur="VC.editSlipcastObj('solvent_added_at_filtering',VC.slipObj.solvent_added_at_filtering)" class='form-control'></input>
		</div>
		<div class='col-md-3'>
		
			<label><b>Target Viscosity</b></label>	<a ng-if="VC.slipObj.recipe.viscosity" class='btn-primary btn btn-sm' style='margin-left:10px'> {{VC.slipObj.recipe.viscosity}}  cps</a>
		</div>
		<div class='col-md-3'>
		<center><label> <b> Slip Identifier </b></label></center>
		
		<a ng-if="VC.slipObj.recipe.viscosity" class='btn-info btn btn-sm' style='margin-left:20px'>{{VC.slipObj.identifier}}</a>
	
		 
		</div>
		</div>
<!-- 		
		<form name="VC.myForm">
		
						
								<input class='form-control' ng-model='VC.myForm.thing'></input>
								<input ng-model='VC.myForm.thing2'></input>
		 
		</form>
			{{VC.myForm}}	 -->
		
		

</div>			