<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="col-lg-6">
        <div class="card card-underline" style="padding:10px">
            <div class="card-head">
                    <h3>Slipcast Run <span style="color: #778899" ng-show="slipcast.id">QMSC - {{ slipcast.id }}</span></h3>
            </div>
            <div class="card-body">
                <form class="form-inline">

                    <div class="form-group">
                         QMSC - <input type="text" ng-change=test()" ng-model="slipcast.id" placeholder="Slipcasting ID" ng-model-options="{ updateOn: 'blur' }">
                    </div>

                    <div class="form-group">
                       Ramp ID: <input type="number" ng-model="slipcast.ramp_id" min="0"  step="1" placeholder="Ramp ID">
                    </div>

                    <div class="form-group">
                        Profile ID: <input type="number" ng-model="slipcast.profile_id" min="0"  step="1" placeholder="Profile ID">
                    </div>

                    <div class="form-group">
                        Date: <input type="datetime" ng-model="slipcast.datetime" placeholder="fixlaterlol">
                    </div>

                    <div class="form-group">
                        Temp <input type="number" ng-model="slipcast.room_temp" placeholder="Room Temperature">
                    </div>

                </form>
            </div>
        </div>
    </div>
<div class="col-lg-6">
    <div class="card card-underline" style="padding:10px">
        <div class="card-head">
            <h3> Operators</h3>
        </div>
        <div class="card-body">




        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card card-underline">
        <div class="card-head">
            <h3>
            ||    Positionsteelsleip
            </h3>
        </div>
       <div class="card-body">
        <form class="form form-inline" ng-submit="test2()" style="padding:8px" ng-repeat="position in positions">

            <div class="form-group" style="margin:0.25em; padding:0.25em">
                    <div class="checkbox checkbox-inline checkbox-styled">
                        <label>
                <input type="checkbox" ng-model="rtoinput[position].timedata" placeholder="time"><span style="font-size: 1.5em" >  {{ position }}:</span>
                            </label>
                    </div>
                <span ng-show="rtoinput[position].timedata">
                    <div class="form-control">
                <input type="number" ng-model="rtoinput[position].steel_id" placeholder="steelinfo">
                    </div>
                    <div class="form-control">
                <input type="number" ng-model="rtoinput[position].slip_id" placeholder="Slip ID">
                    </div>

                    <div class="form-control">
                <input type="number" ng-model="rtoinput[position].slip_temp" placeholder="Slip Temp">
                    </div>

                    <div class="form-control">
                <input type="number" ng-model="rtoinput[position].slip_viscosity" placeholder="Viscosity">
                    </div>

                    <div class="form-control">
                <input type="text" ng-model="rtoinput[position].straightness" placeholder="Tube Straightness">
                    </div>

                </span>
            </div>

            </form>
    </div>
</div>





</body>
</html>