<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the users page</title>
</head>
<body>
<div class="row">
    <div class="col-lg-6">
        <div class="card card-underline">

            <div class="card-head">
                <header>
                   {{ userInfoData.name }}
                </header>

            </div>

            <div class="card-body">

                <table  class="table table-striped table-hover"  cellspacing="0" width="100%" >
                    <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                        <th width="65px">actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="(key, value) in userInfoData"
                        ng-hide="key == 'supervisors' || key == 'subordinates' || key == 'groups' || key == 'employeeid' || key == 'administrative_supervisor'
                                || key == 'hide_employee' || key == 'sidebar_collapse' || key == 'employee_hash' || key == 'name' || key == 'depth'">
                        <td>{{ key }}</td>

                        <td ng-hide="editForm == true">{{ value }}</td>
                        <td ng-show="editForm == true">

                            <input type="text" ng-model="value">
                        </td>
                        <td ng-hide="editForm == true">
                            <button ng-hide="key == 'email' || key == 'ldap_username'" ng-click="editForm = true">Edit</button>
                        </td>
                        <td ng-show="editForm == true">
                            <button ng-click="editForm = false; editUserInfo(userInfoData.email, key, value)" type="submit">Save</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-underline">

            <div class="card-head">
                <header>
                    Change Supervisor
                </header>

            </div>

            <div class="card-body">

                <table class="table table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Current supervisor</th>
                        <th>Change supervisor</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>{{ userInfoData.supervisors[(userInfoData.supervisors).length -1 ].name }}</td>
                        <td>
                            <div class="form form-inline">
                                <select ng-model="newSupervisor" name="supervisors">
                                    <option ng-repeat="people in userData" value="{{ people.employeeid }}"
                                           ng-if="people.employeeid>0">{{ people.firstname }} {{ people.lastname }}
                                    </option>
                                </select>
                                <button ng-click="editSupervisor()" type="submit" class="btn btn-success">SUBMIT</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="card-head">
                <header>
                    Groups
                </header>


                <div class="tools">
                    <select class='form-control'></select>
                    <a ng-click="addGroup()" class="btn btn-icon-toggle btn-refresh" tooltip-placement="left"
                       uib-tooltip="New Request">

                        <i style="color:green;" class="fa fa-plus-circle fa-2x"></i>
                    </a>

                </div>

            </div>

            <div class="card-body">
                <table datatable="ng" class="table table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th> Group Name</th>
                        <th> Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(index,group) in user.groups">
                        <td>
                            {{group.group_name}}
                        </td>
                        <td>
														<span class="fa fa-circle" style="color:orange;"
                                                              ng-if="group.ldap == 1" tooltip-placement="top"
                                                              uib-tooltip="Membership managed by LDAP"> </button>


                        </td>
                    </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>
</body>
</html>