<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the users page</title>
</head>
<body>
<div class="row">
    <div class="col-lg-6">
        <div class="card card-underline">

            <div class="card-head">
                <header>
                    User Info for {{ userInfoData.name }}
                </header>

            </div>

            <div class="card-body">

                <table  class="table table-striped table-hover"  cellspacing="0" width="100%" >
                    <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="(key, value) in userInfoData" ng-hide="key == 'supervisors' || key == 'subordinates'">
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-underline">

            <div class="card-head">
                <header>
                    Hierarchal Info for {{ userInfoData.name }}
                </header>

            </div>

            <div class="card-body">

                <table  class="table table-striped table-hover"  cellspacing="0" width="100%" >
                    <thead>
                    <tr>
                        <th>current supervisor</th>
                        <th>change supervisor</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>{{ userInfoData.supervisors[(userInfoData.supervisors).length -1 ].name }}</td>
                        <td>
                            <div class="form form-inline">
                                <select name="supervisors">
                                    <option ng-repeat="people in userData" value="people.employeeid" ng-if="people.employeeid>0">{{ people.firstname }} {{ people.lastname }}</option>
                                </select>
                                <button type="submit" class="btn btn-succcess">BUTTON</button>
                                </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>