<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quantiam</title>

    <!-- Things -->
		<link rel="icon" href="assets/img/favico.png">
    <!-- BEGIN STYLESHEETS -->
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/materialadmin.css">
    <link type="text/css" rel="stylesheet" href="assets/css/materialadmin_overrides.css">
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/material-design-iconic-font.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/rickshaw/rickshaw.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/morris/morris.core.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/DataTables/jquery.dataTables.css" />
		  <link type="text/css" rel="stylesheet" href="assets/js/libs/angular-datatables/css/angular-dataTables.css" />
		  <link type="text/css" rel="stylesheet" href="assets/js/libs/angular-fullcalendar/fullcalendar.min.css" />
		<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/toastr/toastr.css" />
		<link type="text/css" rel="stylesheet" href="assets/bower_components/trix/dist/trix.css" />
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
</head>



<body class="menubar-hoverable header-fixed menubar-pin" ng-controller="IndexController as IC">

<!-- BEGIN HEADER-->
<header ng-show="user" id="header" >
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand" >
                    <div class="brand-holder">
                        <a ui-sref="dashboard">
                            <span class="text-lg text-bold text-primary">{{AppName}}</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="headerbar-right">
          
            <ul ng-hide="{{user.firstname}}"  class="header-nav header-nav-profile">
                <li class="dropdown" style="padding:18px">
                
						
								
								<span class="profile-info">
								 {{user.firstname}}
									<small>{{user.title}}</small>
								</span>
           
                </li><!--end .dropdown -->
								 <li class="dropdown" style="padding:18px">
                
						
								
						
                </li><!--end .dropdown -->
								<li style="padding:18px;cursor: pointer; " class=".ink-reaction" ng-click="logout()">
									<span>Logout</span>
								</li>
            </ul><!--end .header-nav-profile -->
            <ul class="header-nav header-nav-toggle">
                <li>
                </li>
            </ul><!--end .header-nav-toggle -->
        </div><!--end #header-navbar-collapse -->
    </div>
</header>
<!-- END HEADER-->

<!-- BEGIN BASE-->
<div id="base">

    <!-- BEGIN OFFCANVAS LEFT -->
    <div class="offcanvas">
    </div><!--end .offcanvas-->
    <!-- END OFFCANVAS LEFT -->

    <!-- BEGIN CONTENT-->
    <div id="content">
            <div class="section-body">
                <div ui-view></div>

    </div><!--end #content-->
    <!-- END CONTENT -->

    <!-- BEGIN MENUBAR-->
    <div ng-show="user" id="menubar" class="menubar-inverse ">
        <div class="menubar-fixed-panel">
            <div>
                <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="expanded">
                <a href="../../html/dashboards/dashboard.html">
                    <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
                </a>
            </div>
        </div>
        <div class="menubar-scroll-panel">

            <!-- BEGIN MAIN MENU -->
            <ul id="main-menu" class="gui-controls">

                <!-- BEGIN DASHBOARD -->
                <li ng-class="{ 'expanded active': isActive('/dashboard')  } ">
                    <a ui-sref="dashboard" >
                        <div class="gui-icon"><i class="md md-home"></i></div>
                        <span class="title">Dashboard</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->

                <!-- BEGIN TEST -->
							
              <!--   <li    >
                    <a ui-sref="rto"   >
                        <div class="gui-icon"><i class="fa fa-circle-o-notch fa-2x"></i></div>
                        <span class="title">RTO</span>
                    </a>
                </li> -->
							
						<li class="gui-folder"   ng-class="{ 'expanded active': isActive('/rto'), 'expanded': class}" >
							<a   ng-click="expandSidebar()">
								<div class="gui-icon"><i class="fa fa-calendar"></i></div>
								<span class="title">Timesheet</span>
							</a>
							<!--start submenu -->
							<ul>
							<li><a href="#/rto"  ng-class="{ active: isActive('/rto')}" ><span class="title">RTO Request</span></a></li>
							<li><a href="http://apps.edm.quantiam.com/timesheet/" target="_blank" ><span class="title">Timesheet </span></a></li>
							<li><a href="http://apps.edm.quantiam.com/timesheet/calendar/" target="_blank" ><span class="title">Calendar </span></a></li>
							<li><a  href=""><span class="title">Placeholder</span></a></li>
								
								
							</ul><!--end /submenu -->
						</li>
					
								

            </ul><!--end .main-menu -->
            <!-- END MAIN MENU -->

            <div class="menubar-foot-panel">
                <small class="no-linebreak hidden-folded">
                    <span class="opacity-75">Copyright &copy; 2016</span> <br><strong>Quantiam Technologies Inc.</strong>
                </small>
            </div>
        </div><!--end .menubar-scroll-panel-->
    </div><!--end #menubar-->
    <!-- END MENUBAR -->



    <div class="offcanvas-body">
    </div><!--end .offcanvas-body -->
</div><!--end .offcanvas-pane -->
<!-- END OFFCANVAS CHAT -->

</div><!--end .offcanvas-->
<!-- END OFFCANVAS RIGHT -->

</div><!--end #base-->
<!-- END BASE -->




</body>





<!-- JQUERY / Non Angular JS  -->


<script src="assets/js/libs/jquery/dist/jquery.min.js"></script>
<script src="assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/js/libs/DataTables/jquery.dataTables.min.js"></script>
<script src="assets/js/libs/spin.js/spin.min.js"></script>
<script src="assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="assets/js/libs/moment/moment.min.js"></script>
<script src="assets/js/libs/toastr/toastr.js"></script>
<script src="assets/bower_components/highcharts/highcharts.js"></script>
<script src="assets/js/libs/microtemplating/microtemplating.min.js"></script>


<!-- END JAVASCRIPT -->

<!-- angular JS--->

<script src="assets/js/libs/angular/angular.js"></script>
<script src="assets/js/libs/angular/angular-animate.js"></script>
<script src="assets/js/libs/angular/angular-touch.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="assets/js/libs/angular-datatables/dist/angular-datatables.min.js"></script>
<script src="assets/js/libs/bootstrap-angular-ui/ui-bootstrap-custom-tpls-1.3.3.min.js"></script>
<script src="assets/js/libs/angular-fullcalendar/fullcalendar.js"></script>
<script src="assets/bower_components/highcharts-ng/dist/highcharts-ng.min.js"></script>
<script src="assets/bower_components/trix/dist/trix.js"></script>
<script src="assets/bower_components/angular-trix/dist/angular-trix.min.js"></script>



<!--- App JS -->

<script src="app.js" charset="utf-8"></script>
<script src="services/services.js" charset="utf-8"></script>
<script src="controllers/controllers.js" charset="utf-8"></script>
<script src="routes.js" charset="utf-8"></script>
<script src="directives/directives.js" charset="utf-8"></script>
<script src="factories/factories.js" charset="utf-8"></script>
<script src="filters/filters.js" charset="utf-8"></script>




</html>
