
<div class="row">
<div class="col-lg-6">
<div class="card">
    <div style="text-align: left" class="gui-icon"><i class="fa fa-plus-circle fa-2x"></i></div>
    <div id="rtotime" align="center"><b>Requested Time</b></div>
    <div class="card-body">
<table id="rtotable" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" >
    <thead>
    <tr>
        <th>Name</th>
        <th>Request ID</th>
        <th>Created</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="obj in rtoList.data" ng-click="showRto(obj.requestID)">
            <td>{{ obj.firstname }} {{ obj.lastname }}</td>
            <td> {{ obj.requestID }}</td>
            <td>{{ obj.created | datetime | date : 'longDate' }}</td>
            <td><span id="0" ng-if="obj.status == 'Approved'" class="btn btn-block ink-reaction btn-flat btn-success">Approved</span>
                <span id="1" ng-if="obj.status == 'Pending'"  class="btn btn-block ink-reaction btn-flat btn-warning">Pending</span>
                <span id="2" ng-if="obj.status == 'Denied'"  class="btn btn-block ink-reaction btn-flat btn-danger">Denied</span>
            </td>

    </tr>
    </tbody>

</table>
    </div>
</div>
    </div>
    </div>