<div>
    <button  type="button" id="0" ng-if="rtoData.status == 'Approved'" class="btn btn-block ink-reaction btn-xs btn-success">Approved</button>
    <button  type="button" id="1" ng-if="rtoData.status == 'Pending'" class="btn btn-block ink-reaction btn-xs btn-warning">Pending</button>
    <button  type="button" id="2" ng-if="rtoData.status == 'Denied'"  class="btn btn-block ink-reaction btn-xs btn-danger">Denied</button>
</div>
    <h1>
        Request ID: {{rtoData.requestID}} for {{name}}
    </h1>



<div class="row">
    <div class="col-lg-6">
        <div class="card card-underline">
            <div class="card-head">
                <header>Requested Time</header>
                <div class="tools">
                    <a  ng-click="showForm();" class="btn btn-icon-toggle btn-refresh" data-toggle="offcanvas">

                        <i style="color:green;" class="fa fa-plus-circle fa-2x"></i>
                    </a>

                </div>
            </div>

                <div class="card-body">
                <table id="rtotable" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" >
                    <thead>
                    <tr >
                        <th>Date</th>
                        <th>Time</th>
                        <th>Time Code</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="obj in rtoData.requested_time">
                            <td>{{ obj.date }}</td>
                            <td>{{ obj.hours }} hours</td>
                            <td>{{ obj.type }}</td>
                            <td>{{ obj.created | datetime | date : 'longDate' }}</td>
                            <td>{{ obj.updated | datetime | date : 'longDate' }}</td>
                        </tr>
                    </tbody>

                </table>

                    <form>




                    </form>

            </div>
        </div>

        <div ng-show="show_form" class="card card-underline">
            <div class="card-head">
                <header>dsfasfd</header>
                </div>
            <div class="card-body">

                dsff
                </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="card card-underline">
            <div class="card-head">
                <header>Requested Time</header>
            </div>
            <div class="card-body">
                <table id="approvaltable" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" >
                    <thead>
                    <tr >
                        <th>Supervisor</th>
                        <th>Employee ID</th>
                        <th>Approval</th>
                        <th>Reason</th>
                        <th>Updated</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="obj in rtoData.approvals">
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.employeeID }}</td>
                        <td><span id="0" ng-if="obj.approval == 'Approved'" class="btn btn-block ink-reaction btn-flat btn-xs btn-success">Approved</span>
                            <span id="1" ng-if="obj.approval == 'Pending'"  class="btn btn-block ink-reaction btn-flat btn-xs btn-warning">Pending</span>
                            <span id="2" ng-if="obj.approval == 'Denied'"  class="btn btn-block ink-reaction btn-flat btn-xs btn-danger">Denied</span>
                        </td>
                        <td>{{ obj.reason }}</td>
                        <td>{{ obj.updated | datetime | date : 'longDate' }}</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<!--
<div class="offcanvas">
<div id="offcanvas-demo-size4" class="offcanvas-pane width-12" style="width: 800px; transform: translate(-800px, 0px);">
    <div class="offcanvas-head">
        <header>Size 4</header>
        <div class="offcanvas-tools">
            <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                <i class="md md-close"></i>
            </a>
        </div>
    </div>
    <div class="nano has-scrollbar" style="height: 621px;"><div class="nano-content" tabindex="0" style="right: -17px;"><div class="offcanvas-body">
        <p>
            An off-canvas can hold any content you want.
        </p>
        <p>
            Close this off-canvas by clicking on the backdrop or press the close button in the upper right corner.
        </p>
        <p>&nbsp;</p>
        <h4>Some details</h4>
        <ul class="list-divided">
            <li><strong>Width</strong><br><span class="opacity-75">800px</span></li>
            <li><strong>Height</strong><br><span class="opacity-75">100%</span></li>
            <li><strong>Body scroll</strong><br><span class="opacity-75">disabled</span></li>
            <li><strong>Background color</strong><br><span class="opacity-75">Default</span></li>
        </ul>
    </div></div><div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 604px; transform: translate(0px, 0px);"></div></div></div>
    <div class="force-padding stick-bottom-right">
        <a class="btn btn-floating-action btn-accent" href="#offcanvas-demo-size3" data-toggle="offcanvas">
            <i class="md md-arrow-back"></i>
        </a>
    </div>
</div>
 </div>


<div class="backdrop"></div>