<div>
    <button  type="button" ng-if="rtoData.status == 'Approved'" class="btn btn-block ink-reaction btn-refresh btn-xs btn-success">Approved</button>
    <button  type="button" ng-if="rtoData.status == 'Pending'" class="btn btn-block ink-reaction btn-refresh btn-xs btn-warning">Pending</button>
    <button  type="button" ng-if="rtoData.status == 'Denied'"  class="btn btn-block ink-reaction btn-xs btn-danger">Denied</button>
</div>
    <h1>
        Request ID: {{rtoData.requestID}} for {{name}}
    </h1>



<div class="row">
    <div class="col-lg-8">
        <div class="card card-underline">
            <div class="card-head">
                <header>Requested Time</header>
                <div class="tools">
                    <a  ng-click="newForm();" class="btn btn-icon-toggle btn-refresh">

                        <i style="color:green;" class="fa fa-plus-circle fa-2x"></i>
                    </a>

                </div>
            </div>

                <div class="card-body">
                <table id="rtotable"  class="table table-striped table-hover dataTable" cellspacing="0" width="100%" >
                    <thead>
                    <tr >
                        <th>Date</th>
                        <th>Time</th>
                        <th>Time Code</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="obj in rtoData.requested_time ">
                            <td>{{ obj.date }}</td>
                            <td>{{ obj.hours }} hour<span ng-if="obj.hours != 1">s</span></td>
                            <td>{{ obj.type }}</td>
                            <td>{{ obj.created | datetime | date : 'longDate' }}</td>
                            <td>{{ obj.updated | datetime | date : 'longDate' }}</td>
                            <td id="edit/delete">
                               <a ng-click="editForm(obj.rtotimeID, $index);" class="btn btn-icon-toggle btn-refresh btn-xs" tooltip-placement="top" uib-tooltip="Edit"><i class="md md-edit" style="color:royalblue"></i></a>
                               <a ng-click="deleteForm(obj.rtotimeID, $index);" class="btn btn-icon-toggle btn-refresh btn-xs" tooltip-placement="right" uib-tooltip="Remove"><i class="md md-delete" style="color:red"></i></a>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>

        <div ng-show="show_form" class="card card-underline">
            <div class="card-head">
                <header>{{ formTitle }}</header>
            </div>

            <div class="card-body">

									
						
                 <form class="form-inline" name="input">
                     <div class="form-group">
										
									
												 <div class="input-group">
												   
													 <span class="input-group-content">
														   <input  id="datePicker2" class="form-control" type="text" uib-datepicker-popup="yyyy-MM-dd" 
																	ng-model="date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
																	close-text="Close"   required>
																<label for="datePicker2">Date</label>
														</span>
														<span class="input-group-addon">
															   <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
														</span>
												 </div>
													<div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)"
										template-url="uib/template/datepickerPopup/popup.html" class="ng-not-empty ng-valid ng-valid-date-disabled" style="">
											</div>
											
												
                     </div>
									
                     <div class="form-group" >
										
									
										
                         <input class="form-control" type="number" min="0.5" max="8" step="0.5" ng-model="hours" id="reqHours" required>
                         <label for="reqHours">Hours Absent</label>
												
										
                     </div>
                     <div class="form-group" id="classPicker">
                         <select class="form-control" ng-model="type" required>
                             <option value="">&nbsp;</option>
                             <option value="pto">PTO</option>
                             <option value="vacation">Vacation</option>
                             <option value="unpaid">Unpaid</option>
                             <option value="cto">CTO</option>
                         </select>
                         <label for="classPicker">Type</label>
                     </div>
                     <div class="form-group">
                         <button ng-disabled="input.$invalid" ng-if="formMode == 'new'" ng-click="postRtotime()" class="btn btn-block ink-reaction btn-info" type="submit">Submitt</button>
                         <button ng-disabled="input.$invalid" ng-if="formMode == 'edit'" ng-click="editRtotime($index)" class="btn btn-block ink-reaction btn-info" type="submit">Submitt</button>
                     </div>

                </form>
            </div>
        </div>

    </div>
    <div class="col-lg-4" >
				
		   <div ng-show="true" class="card card-underline" >
            <div class="card-head">
							<header> Banked Hours Impact? </header>
						</div>
						<div class="card-body">
						
	
						<table class='table table-striped table-hover'>
						
						 <thead>
                    <tr>
                        <th>Type</th>
                        <th>Current</th>
                        <th>Impact </th>
                        <th>Result</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="(key,value) in bankTotals.remaining">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                        <td><span style="color:red; font-weight:bold;" ng-if="requestedTime[key]">- {{requestedTime[key]}}</span></td>
                        <td>{{resultTime[key]}}</td>
                    </tr>
                    </tbody>
						
						</table>
						
						
						</div>
			
			 </div>
		
		
        <div class="card card-underline">
            <div class="card-head">
                <header>Approvals {{  }}</header>
                <!--ng-hide="user.employeeID == rtoData.employeeID"-->
                <div style="float: right; padding:10px; width:25%" >
                    <a  ng-click="approveRto('approved')">
                        <!--
                                data-ng-disabled="user.employeeID == rtoData.approvals[0].employeeID || user.employeeID == rtoData.approvals[1].employeeID"
                                -->
                        <button style="float: right" type="button" class="btn btn-block ink-reaction btn-refresh btn-xl btn-success">Approve</button>
                    </a>
                </div>
                <!--ng-hide="user.employeeID == rtoData.employeeID"-->
                <div style="float: right; padding:10px; width:25%" >
                    <a  ng-click="approveRto('denied')">
                        <button style="float: right" type="button" class="btn btn-block ink-reaction btn-refresh btn-xl btn-danger">Deny</button>
                        <!--
                                data-ng-disabled="user.employeeID == rtoData.approvals[0].employeeID || user.employeeID == rtoData.approvals[1].employeeID"
                                -->
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table id="approvaltable" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" >
                    <thead>
                    <tr>
                        <th>Supervisor</th>
                        <th>Approval</th>
                        <th>Updated</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="obj in rtoData.approvals">
                        <td>{{ obj.name }}</td>
                        <td><span id="0" ng-if="obj.approval == 'approved'" class="btn btn-block ink-reaction btn-xs btn-success">Approved</span>
                            <span id="1" ng-if="obj.approval == 'denied'"  class="btn btn-block ink-reaction btn-xs btn-danger">Denied</span>
                        </td>
                        <td>{{ obj.updated | datetime | date : 'longDate' }}</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
