
<div class="row">
    <div class="col-lg-6">
        <div class="card card-underline">


            <div class="card-head">
                <header>Pending Time Off Requests</header>
                <div class="tools">
                    <a ng-click="addRto()" class="btn btn-icon-toggle btn-refresh" tooltip-placement="left" uib-tooltip="New Request">

                        <i style="color:green;" class="fa fa-plus-circle fa-2x"></i>
                    </a>

                </div>


            </div>
            <div class="card-body">

        <table  datatable="ng"  dt-options="RC.pendingTable.dtOptions" dt-column-defs="RC.pendingTable.dtColumnDefs"  id="rtotable" class="table table-striped table-hover dataTable" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Request ID</th>
                <th>Created</th>
                <th>Status</th>

            </tr>
            </thead>

            <tbody>
            <tr class="clickable" ng-repeat="obj in rtoList" ng-if="obj.status == 'new' || obj.status == 'pending'" ng-click="showRto(obj.requestID)">
                    <td>{{ obj.firstname }} {{ obj.lastname }}</td>
                    <td> {{ obj.requestID }}</td>
                    <td>{{ obj.created | datetime | date : 'longDate' }}</td>
                    <td>
                        <span id="3" ng-if="obj.status == 'new'"  class="btn btn-block ink-reaction btn-flat btn-warning">New</span>
                        <span id="1" ng-if="obj.status == 'pending'"  class="btn btn-block ink-reaction btn-flat btn-warning">Pending</span>
                        <span id="2" ng-if="obj.status == 'approved'" class="btn btn-block ink-reaction btn-flat btn-success">Approved</span>
                        <span id="0" ng-if="obj.status == 'denied'"  class="btn btn-block ink-reaction btn-flat btn-danger">Denied</span>
                    </td>

            </tr>
            </tbody>

        </table>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card card-underline">


            <div class="card-head">
                <header>Archived Time Off Requests</header>
                <div class="tools">
                </div>


            </div>
            <div class="card-body">

        <table  datatable="ng" dt-options="RC.archiveTable.dtOptions" id="rtotable" class="table table-striped table-hover dataTable" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Request ID</th>
                <th>Created</th>
                <th>Status</th>
            </tr>
            </thead>

            <tbody>
            <tr class="clickable" ng-repeat="obj in rtoList" ng-if="obj.status == 'approved' || obj.status == 'denied'" ng-click="showRto(obj.requestID)">
                    <td>{{ obj.firstname }} {{ obj.lastname }}</td>
                    <td> {{ obj.requestID }}</td>
                    <td>{{ obj.created | datetime | date : 'longDate' }}</td>
                    <td>
                        <span id="3" ng-if="obj.status == 'new'"  class="btn btn-block ink-reaction btn-flat btn-warning">New</span>
                        <span id="1" ng-if="obj.status == 'pending'"  class="btn btn-block ink-reaction btn-flat btn-warning">Pending</span>
                        <span id="2" ng-if="obj.status == 'approved'" class="btn btn-block ink-reaction btn-flat btn-success">Approved</span>
                        <span id="0" ng-if="obj.status == 'denied'"  class="btn btn-block ink-reaction btn-flat btn-danger">Denied</span>
                    </td>

            </tr>
            </tbody>

        </table>
            </div>
        </div>
    </div>
</div>
