<div class='row' ng-if="!SCCVC.showCharts">
	
	
	<center style="padding-top:100px">
		<i class="fa fa-cog fa-spin fa-4x" aria-hidden="true"></i>
	</center>
</div>

<div class='row' ng-if="SCCVC.showCharts">
	
<div class="col-lg-12" >
        <highchart config="SCCVC.xChartConfig"></highchart>
</div>
<div class="col-lg-12" >
        <highchart config="SCCVC.mrChartConfig"></highchart>
</div>
	<hr>
</div>
	

<div class='row' ng-if="SCCVC.showCharts">

	<div class='col-lg-offset-1 col-lg-10'>
		<h3 class='page-header'> Data Dump </h3>
	  <hot-table 
				settings="SCCVC.hotOptions"
				height="800"
				col-headers=true
				datarows="SCCVC.xmr.xSeries.data"
				min-spare-rows=0
				
			
    >
		
		
	 	<hot-column ng-repeat="(key,value) in SCCVC.xmr.xSeries.data[0]"   data="{{key}}"  data="created" title="key"  type="'text'" read-only></hot-column>  	
  </hot-table>
	</div>
		</div>