<h3 style="text-align:center; background-color: #4E6C8C; color: white"><b>Profile {{ SVC.profile_id }}</b> </h3>
<div class="row">
    <div class="col-lg-4 col-lg-offset-2">
         <table class="table table-striped table-hover sexystripes table-stats shadow">
            <thead>
                <th>Key</th>
                <th>Value</th>
            </thead>

            <tbody>
                <tr ng-repeat="(key, value) in SVC.profile_data" ng-if="SVC.hiddenRows.indexOf(key) == -1">

                        <td><b>{{ humanize(key) }}</b></td>
                        <td style="text-align:center"><input ng-enter-blur="SVC.editRow(key, value)" type="text" ng-model="SVC.profile_data[key]"></td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td ng-click="SVC.newPair()" colspan="2" style="text-align:center; cursor:pointer">Add another key/value pair</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-lg-3">
        <div class="card card-underline">
            <div class="card-head card-head-xs style-primary">

            </div>
 <div class="card-body">
                <ul class="dnd" ng-sortable="sortConfig">
                    <li ng-repeat="value in SVC.steps">
                        <i style="padding-left:10px" class="my-handle fa fa-bars fa-3"></i>
                        &nbsp; &nbsp;{{ $index + 1 }}:<input ng-enter-blur="SVC.editTask(value.step, value.tasks)" type="text" ng-model="value.tasks"></li>
                </ul>
        </div>
        </div>

    </div>
</div>

<button class="md-button-toggle md-button md-ink-ripple">RIPPLE</button>
