<div class='row'>
<div class='col-lg-12' style='margin-bottom:10px;'>
	
	
		   <uib-alert ng-if="!SVC.editable && !SVC.admin" >
				 <B> Notice: </B>  The period in which you could edit this slipcasting run has expired.  Please contact the database adminsitrator if you must edit this. 
			 </uib-alert>
			 
			   <div ng-if="SVC.editable && SVC.admin" class="alert-success alert">
				 <B> Notice: </B>  You are editing this slipcasting run with admin privledges.
				 </div>
			 
			 
</div>

    <div class="col-lg-9">
        <div class="card card-underline">
            <div class="card-head">
                    <header>Slipcasting Run: <span style="color: #778899" ng-if="SVC.slipCastObj">QMSC - {{ SVC.slipCastObj.manu_slipcasting_id }}</span></header>
									
									<div class='tools'>

										<a class="btn btn-icon-toggle btn-refresh" tooltip-placement="top" uib-tooltip="Graphs" ui-sref="slipcastviewGraphs({ slipcastid: SVC.slipCastObj.manu_slipcasting_id })">
											<i class="fa fa-bar-chart" aria-hidden="true"></i>
										</a>
									
							<!-- 			<a class='btn btn-icon-toggle btn-refresh'  ng-click="SVC.openModalJson()" tooltip-placement="top" uib-tooltip="Data Model">
											<i class="fa fa-code" style="font-size:15px" aria-hidden="true"></i>
										</a>
										
										<a class='btn btn-icon-toggle btn-refresh' style="font-size:15px;" tooltip-placement="top" uib-tooltip="Download">
												<i class="fa fa-download"   aria-hidden="true"></i>
										</a> -->
									
									</div>
									
										
            </div>
						
						
            <div class="card-body">
                <form class="form-inline">
										
				
									<div class='row'>
									
									
										<div class='col-lg-1 form-group' >
											
															<center><img width='100%' src="{{SVC.slipCastObj.datamatrix}}"></img></center>
										</div>
									
									
									<div class="form-group col-sm-2" style="width:130px">
										<b> Slip ID </b> 
									
										<select2 style="width: 100%"
	
													options="select2request.fetchList('/slip/list', null)"
														ng-change="SVC.editSlipcastObj('manu_slip_id',SVC.slipCastObj.manu_slip_id)"
													ng-model="SVC.slipCastObj.manu_slip_id"
													ng-disabled="!SVC.editable">
													
											
																	
																
											</select2>  
										
										
                    </div>		

										
										<div class="form-group col-lg-2" style="width:120px">
										<b> Table </b> 
					
											<select2
													
													style="width:100%"
											
													ng-change="SVC.editSlipcastObj('manu_slipcasting_table_id',SVC.slipCastObj.manu_slipcasting_table_id)"
													options="SVC.slipcastingTables"
													ng-model="SVC.slipCastObj.manu_slipcasting_table_id"
													s2-options="Tables.manu_slipcasting_table_id as Tables.manu_slipcasting_table_name
																	for Tables in SVC.slipcastingTables"
															ng-disabled="!SVC.editable"		
															>
																	 <option value=""></option> 
																
											</select2>
										
										
                    </div>
									
               

                    <div class="form-group col-lg-2" style="width:130px">
										<b> Room Temp (C) </b> <input style="width:100%" type="number" class='form-control' ng-model="SVC.slipCastObj.room_temp_at_cast"
										ng-blur="SVC.editSlipcastObj('room_temp_at_cast',SVC.slipCastObj.room_temp_at_cast)"  placeholder="" 	ng-disabled="!SVC.editable"		> 
                    </div> 
										
										<div class="form-group col-lg-2" style="width:120px">
										<b> Humidity (%) </b> <input  style="width:100%" type="number" class='form-control' ng-model="SVC.slipCastObj.humidity"
										ng-blur="SVC.editSlipcastObj('humidity',SVC.slipCastObj.humidity)"  placeholder="" 	ng-disabled="!SVC.editable"		> 
                    </div> 
										
								     <div class="form-group col-lg-3">
						
											<b>Date Time</b> <br>

											<div class="dropdown">
												<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" >
													<div class="input-group">
													
													<input type="text" class="form-control"
													data-ng-model="SVC.slipCastObj.datetime"
													ng-disabled="!SVC.editable"		>
													<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
													</div>
												</a>
												<ul class="dropdown-menu"  ng-if="SVC.editable" role="menu" aria-labelledby="dLabel">
													<datetimepicker 
													data-on-set-time="SVC.editSlipcastObj('datetime',SVC.slipCastObj.datetime)"
													data-ng-model="SVC.slipCastObj.datetime"
													data-datetimepicker-config="{
													dropdownSelector: '#dropdown2',
													modelType: 'YYYY-MM-DD HH:mm:ss'
													
													}"
															
													/>
												</ul>
											</div>

                    </div>
										 
									
									</div>
                </form>
            </div>
        </div>
			
		
		
			<div id="steel_thing">				
			
			
				<h3 class='page-header' style='margin-top:0px'>Steel <small> Tip: When entering data - use "Tab" to quickly cycle through each field. </small>
					
						<div style='float:right'>
													
													
													<select2 
																	style="width: 100%; font-size:11px;"
																	ng-change="SVC.addSteel()"
																	placeholder="Steel Selection"
																	options="select2request.fetchList('/steel/list', null)"
																	ng-model="SVC.selectedSteel"
																	ng-disabled="!SVC.editable"
																	></select2>  
						
						</div>
					</h3>
					<table class='table table-striped table-stats table-condensed shadow'>
						<thead>
							<tr>
								<th style="width:5%" > Code </th>
								<th  style="width:10%"> ID </th>
								<th  style="width:10%"> Name </th>
					
								<th style="width:10%"> Steel Temp (C)</th>
								<th style="width:10%"> Slip Temp (C)</th>
								<th style="width:10%"> Air Flow (cfm)</th>
								<th> Straightness</th>
								<th> Position</th>
								<th> Actions</th>
							</tr>
						</thead>
						<tr ng-if="!SVC.slipCastObj.steel[0]"><td colspan=9><center> No steel objects were found. </center></td></tr>
						
							<tr ng-repeat="Obj in SVC.slipCastObj.steel" >
						
							
								<td>  <img  style="width:75%" src="{{Obj.datamatrix}}"></img>  </td>
								<td>  <b> QMIS-{{Obj.inventory_id}} </b>  </td>
								<td>   {{Obj.heat_id}} <span ng-if="Obj.rework">R:{{Obj.rework}}</span> </td>
							
							

									<td>
											
											<input 
											
											 type="number" 
											ng-model="SVC.slipCastObj.steel[$index].steel_temp"
											ng-blur="SVC.editSteel(Obj.inventory_id,$index,'steel_temp',SVC.slipCastObj.steel[$index].steel_temp)"
											style="width:75px; font-size:11px;" class='form-control' ng-disabled="!SVC.editable"	></input>
											
									</td>	
									<td>
											
											<input 
											
											 type="number" 
											ng-model="SVC.slipCastObj.steel[$index].slip_temp"
											ng-blur="SVC.editSteel(Obj.inventory_id,$index,'slip_temp',SVC.slipCastObj.steel[$index].slip_temp)"
											style="width:75px; font-size:11px;" class='form-control' ng-disabled="!SVC.editable"	></input>
											
									</td>
									<td>
											
											<input 
											
											 type="number" 
											ng-model="SVC.slipCastObj.steel[$index].airflow"
											ng-blur="SVC.editSteel(Obj.inventory_id,$index,'airflow',SVC.slipCastObj.steel[$index].airflow)"
											style="width:75px; font-size:11px;" class='form-control' ng-disabled="!SVC.editable"	></input>
											
									</td>
									
								<td>
								
									<select2
													placeholder="Straightness"
													ng-change="SVC.editSteel(Obj.inventory_id,$index,'straightness',SVC.slipCastObj.steel[$index].straightness)"
													ng-model="SVC.slipCastObj.steel[$index].straightness"
													s2-options="grade as grade for grade in ['High','Medium','Low']"
													ng-disabled="!SVC.editable"				
													>
																	 <option value="none" ></option> 
																
											</select2>
									
								</td>
									
								<td>
								
									<select2 
													
												
													placeholder="Position"
												
													ng-change="SVC.editSteel(Obj.inventory_id,$index,'position',SVC.slipCastObj.steel[$index].position)"
													ng-model="SVC.slipCastObj.steel[$index].position"
													s2-options="pos as pos
																	for pos in ['1','2','3','4','5','6']"
																	
													ng-disabled="!SVC.editable"				
													>
																	 <option value="none" ></option> 
																
											</select2>
									
								</td>
								<td>
								
											<a 	ng-disabled="!SVC.editable"		
								class="btn btn-icon-toggle btn-refresh" tooltip-placement="top" uib-tooltip="Remove Operator" ng-click="SVC.removeSteel(Obj.inventory_id,$index)">

                        <i style="color:red;" class="fa fa-trash-o fa-1x"></i>
                    </a>
									
								</td>
							</tr>
						
			
						
						</table>


			</div>

			
			
			<div class='row'>
			
						<!--- steps go here -->
						
						<div class='col-lg-4'>
								<h3 class='page-header' style='margin-top:0px'>Steps<small> Verify preparation steps. </small></h3>

							<table class='table table-striped table-stats table-condensed shadow'>
								<thead>
								<tr>
									<th> Step</th>
									<th> </th>
								</tr>
								</thead>
								<tr ng-repeat="(key,value) in SVC.slipCastObj.profile.steps | orderBy: 'step'" ng-if="SVC.slipcastProfileFilter.indexOf(key) == -1 && value && key != 'steps'">
									<td><b>{{ value.tasks }}</b></td>
									<td>

										<div ng-if="(SVC.completedTasks[value.step - 1] || value.step == 1) && !SVC.completedTasks[value.step + 1]" class="checkbox checkbox-styled checkbox-success">
											<label>
												<input ng-disabled="!SVC.editable" ng-model="SVC.completedTasks[value.step]" ng-change="SVC.checkStep(value.step)" type="checkbox">
												<span></span>
											</label>
										</div>

										<div ng-if="SVC.completedTasks[value.step] && SVC.completedTasks[value.step + 1]" class="checkbox checkbox-styled checkbox-info">
											<label>
												<input ng-model="SVC.completedTasks[value.step]" type="checkbox" value disabled checked>
												<span></span>
											</label>
										</div>

										<div ng-show="!SVC.completedTasks[value.step -1] && value.step != 1" class="checkbox checkbox-styled checkbox-success" tooltip-placement="right-top" uib-tooltip="Must complete prior steps first">
											<label>
												<input ng-model="SVC.completedTasks[value.step]" type="checkbox" value disabled>
												<span></span>
											</label>
										</div>
									</td>
								</tr>



							</table>

						
						</div>
			
			
						<div ng-if="SVC.slipCastObj.manu_slip_id" class='col-lg-8'>
						
							<div class='row'>
									<slipcast-viscosity slipid="{{SVC.slipObj.slip_id}}" callback-fn="getSlip()" ></slipcast-viscosity>
							
							</div>
											
						
						<div  id='container_weighing_thing' ng-if="SVC.slipCastObj.profile.containers_per_object > 0"  class='row'>
							<h3 class='page-header' style='margin-top:0px'>Slip Weighing <small> Click "record" to save the value from the scale. </small></h3>
			
										<div class='col-lg-9'>
										<table class='table table-striped table-stats shadow'>
													<thead>
														<tr>
															<th > Tube  </th>
															<th > Container </th>
															<th > Container (g)  </th>
															<th > Slip (g)  </th>
															<th > Remainder (g)  </th>
														
														</tr>
													</thead>
													<tbody ng-repeat="Obj in SVC.slipCastObj.steel" >
													
														
															<tr ng-repeat="i in getNumber(SVC.slipCastObj.profile.containers_per_object) track by $index" >
															
																<td><b> {{Obj.identifier}}</b> </td>
																<td> {{ SVC.translateToLetter($index+1,$parent.$index, SVC.slipCastObj.profile.containers_per_object ) }}</td>
																<td>
																	<button type="button" class="btn ink-reaction btn-xs btn-raised btn-primary" 
																	ng-click="SVC.recordContainerWeightData(Obj.manu_inventory_id,  $parent.$parent.$index, $index+1,'container')"
																	ng-disabled="!SVC.scaleStatus || !SVC.editable"
																	ng-if="Obj.container_weights[$index].container == null"	> Record </button>
																
															
																	<p style='font-size:13px; font-weight:bold; text-align:center;'	ng-if="Obj.container_weights[$index].container != null">{{Obj.container_weights[$index].container}} g</p>
																	<!-- somethign else -->
																</td>
																	<td>
																	<button type="button" class="btn ink-reaction btn-xs btn-raised btn-primary" 
																	ng-click="SVC.recordContainerWeightData(Obj.manu_inventory_id, $parent.$parent.$index, $index+1,'slip')" ng-disabled="!SVC.scaleStatus || Obj.container_weights[$index].container == null || !SVC.editable"
																		ng-if="Obj.container_weights[$index].slip == null"> Record </button>
																	<p style='font-size:13px; font-weight:bold; text-align:center;'	ng-if="Obj.container_weights[$index].slip != null">{{Obj.container_weights[$index].slip}} g</p>
																	<!-- somethign else -->
																</td>
																	<td>
																	<button type="button" class="btn ink-reaction btn-xs btn-raised btn-primary" 
																		ng-if="Obj.container_weights[$index].remainder == null"
																	ng-click="SVC.recordContainerWeightData(Obj.manu_inventory_id,   $parent.$parent.$index, $index+1,'remainder')" ng-disabled="!SVC.scaleStatus || Obj.container_weights[$index].container == null || Obj.container_weights[$index].slip == null || !SVC.editable" > Record </button>
																		<p style='font-size:13px; font-weight:bold; text-align:center;'	ng-if="Obj.container_weights[$index].remainder != null">{{Obj.container_weights[$index].remainder}} g</p>
																<!-- somethign else -->
																</td>
													
													
																
															</tr>
															
																
											
											
													</tbody>
											</table>
									
										</div>	
										<div class='col-lg-3' >
													<div class="card">
													<div class="card-body no-padding">
														<div class="alert alert-callout no-margin" ng-class="SVC.scaleStatus ? 'alert-success' : 'alert-error'">
															<h1 class="pull-right" ng-class="SVC.scaleStatus ? 'text-success' : 'text-error'"><i class="fa fa-balance-scale"></i></h1>
															<strong class="text-xl">{{SVC.scaleValue}} g</strong><br>
															<span class="opacity-50" ng-if="SVC.scaleStatus">Stable</span>
															<span class="opacity-50" ng-if="!SVC.scaleStatus" >Measuring</span>
														</div>
													</div><!--end .card-body -->
												</div><!--end .card -->
													<center>	<label> <b>Slip Target: </b></label> {{SVC.slipCastObj.profile.weight_per_container}}g </center>
													
													<center><button class='btn btn-primary btn-sm' ng-click="SVC.undoSlipWeigh()"> Undo </button></center>
											</div>
								
								</div>
							
							</div>
		
			</div>
</div>

		
<div class="col-lg-3">
		
			<div id="slip_thing" ng-if="SVC.slipObj">				
			
			
				<h3 class='page-header' style='margin-top:0px'>Slip 
					
						<div style='float:right'>
											
						
						</div>
				</h3>
				
				
				
					<table class='table table-striped table-stats table-condensed shadow'>
						<thead>
							<tr>
								<th> Attribute</th>
								<th> Value</th>
							</tr>
						</thead>
							<tr>
								<td><b>{{humanize('Viscosity')}}</b></td>
								<td>
									{{SVC.slipObj.recipe.viscosity}}
								</td>
							</tr>
			
							<tr>
								<td><b>{{humanize('recipe_name')}}</b></td>
								<td>
									{{SVC.slipObj.recipe.recipe_name}}
								</td>
							</tr>
							
							<tr>
								<td><b>{{humanize('recipe_id')}}</b></td>
								<td>
									{{SVC.slipObj.recipe.recipe_id}}
								</td>
							</tr>
						
						
							<tr>
								<td><b>{{humanize('comments')}}</b></td>
								<td>
									{{SVC.slipObj.recipe.comments}}
								</td>
							</tr>
							
							<tr>
								<td><b>{{humanize('slip_created')}}</b></td>
								<td>
									{{SVC.slipObj.slip_made_on}}
								</td>
							</tr>
							
						
			
						
						</table>


			</div>


	
	<div id="operators_thing">

	<h3 class='page-header' style='margin-top:0px'>Operators
		
		<div style='float:right'>
										<select2 
													
													style="font-size:11px;"
													placeholder="Operator Selection"
													ng-change="SVC.addOperator()"
													options="userData"
													ng-model="SVC.selectedOperator"
													s2-options="user.employeeid as user.firstname +' '+ user.lastname
																	for user in userData"
													ng-disabled="!SVC.editable"				
													>
																	 <option value="none" ></option> 
																
											</select2>
		</div>
											
		</h3>
						<table class='table table-striped table-stats table-condensed shadow'>
						<thead>
							<tr>
								<th> Name</th>
								<th>Action</th>
							</tr>
						</thead>
							<tr ng-if="!SVC.slipCastObj.operators[0]"><td colspan=2><center>Please add an Operator</center></td></tr>
							<tr ng-repeat="operator in SVC.slipCastObj.operators" >
								<td><b>{{operator.firstname}} {{operator.lastname}}</b></td>
								<td>
								<a 	ng-disabled="!SVC.editable"		
								class="btn btn-icon-toggle btn-refresh" tooltip-placement="top" uib-tooltip="Remove Operator" ng-click="SVC.removeOperator(operator.employeeID)">

                        <i style="color:red;" class="fa fa-trash-o fa-1x"></i>
                    </a>
									
									</td>
							</tr>
						
						
						
						</table>


	
	</div>
	
	
  
			<div id="profile_thing">				
			
			
				<h3 class='page-header' style='margin-top:0px'>Profile
					
						<div style='float:right'>
															<select2 
																	
																	style="font-size:11px;"
																	placeholder="Profile Selection"
																	ng-change="SVC.editSlipcastObj('manu_slipcasting_profile_id',SVC.slipCastObj.manu_slipcasting_profile_id)"
																	options="SVC.slipcastingProfiles"
																	ng-model="SVC.slipCastObj.manu_slipcasting_profile_id"
																	s2-options="profile.manu_slipcasting_profile_id as profile.profile_name
																					for profile in SVC.slipcastingProfiles"
																			ng-disabled="!SVC.editable"		
																			>
																					 <option value=""></option> 
																				
															</select2>
						
						</div>
					</h3>
					<table class='table table-striped table-stats table-condensed shadow'>
						<thead>
							<tr>
								<th> Attribute</th>
								<th> Value</th>
							</tr>
						</thead>
							<tr ng-if="!SVC.slipCastObj.profile"><td colspan=2><center>Please select a Profile</center></td></tr>
							<tr ng-repeat="(key,value) in SVC.slipCastObj.profile" ng-if="SVC.slipcastProfileFilter.indexOf(key) == -1 && value && key != 'steps'">
								<td><b>{{humanize(key)}}</b></td>
								<td>
									{{value}}
									</td>
							</tr>
						
			
						
						</table>


			</div>

	</div>	

</div>

	<hr>
<div class='row'>

	<dropzone identifier="{{SVC.slipCastObj.identifier}}" > </dropzone>

</div>

<hr>
<div class='row'>
	
	<div class='col-md-6'>
	
	<comments identifier="{{SVC.slipCastObj.identifier}}"> </comments>
	</div>
</div>








<!--- modals --->