<h3> Profile {{ SVC.profile_id }}</h3>

    <table class="table table-striped table-hover sexystripes table-stats shadow">
        <thead>
            <th>Key</th>
            <th>Value</th>
        <th>Actions</th>
        </thead>

        <tbody>
            <tr ng-if="!SVC.isArray(value)" ng-repeat="(key, value) in SVC.profile_data">

                    <td><b>{{ humanize(key) }}</b></td>
                    <td><input ng-change="SVC.editRow(key, value)" type="text" ng-model="SVC.profile_data.$index"></td>
                    <td>Del</td>
            </tr>
        <!-- Steps Row is special -->
            <tr ng-if="SVC.isArray(value)" ng-repeat="(key, value) in SVC.profile_data">
                <td><b>{{ humanize(key) }}</b></td>
                <td>
                    <table style="column-count:4">
                        <tbody>
                            <tr  ng-repeat="obj in value">
                                <td>{{ obj.step }}</td>
                                <td>{{ obj.tasks }}</td>
                                <td>del</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td ng-click="SVC.newPair()" colspan="2" style="text-align:center; cursor:pointer">Add another key/value pair</td>
            </tr>
        </tfoot>
    </table>