<div class='row'>
<div class='col-md-12' style='margin-bottom:10px;'>
	
	
		   <uib-alert ng-if="!SVC.editable" >
				 <B> Notice: </B>  The period in which you could edit this slipcasting run has expired.  Please contact the database adminsitrator if you must edit this. 
				 </uib-alert>
</div>
<div>
    <div class="col-lg-9">
        <div class="card card-underline">
            <div class="card-head">
                    <header>Slipcasting Run: <span style="color: #778899" ng-if="SVC.slipCastObj">QMSC - {{ SVC.slipCastObj.manu_slipcasting_id }}</span></header>
									
									<div class='tools'>
									
										<a class='btn btn-icon-toggle btn-refresh' tooltip-placement="top" uib-tooltip="Data Model">
											<i class="fa fa-code" style="font-size:15px" aria-hidden="true"></i>
										</a>
										
										<a class='btn btn-icon-toggle btn-refresh' style="font-size:15px;" tooltip-placement="top" uib-tooltip="Download">
												<i class="fa fa-download"  aria-hidden="true"></i>
										</a>
									
									</div>
									
										
            </div>
						
						
            <div class="card-body">
                <form class="form-inline">
										
				
									<div class='row'>
									
									<div class="form-group col-md-2">
										<b> Slip ID </b> 
									
										<select2 style="width: 100%"
	
													options="SVC.slipSelect"
													
													ng-model="SVC.slipCastObj.manu_slip_id"
													ng-disabled="!SVC.editable">
													
											
																	
																
											</select2>  
										
										
                    </div>		

										
										<div class="form-group col-md-2">
										<b> Table </b> 
					
											<select2
													chosen
													style="width:100%"
													placeholder-text-single="things"
													ng-change="SVC.editSlipcastObj('manu_slipcasting_table_id',SVC.slipCastObj.manu_slipcasting_table_id)"
													options="SVC.slipcastingTables"
													ng-model="SVC.slipCastObj.manu_slipcasting_table_id"
													s2-options="Tables.manu_slipcasting_table_id as Tables.manu_slipcasting_table_name
																	for Tables in SVC.slipcastingTables"
															ng-disabled="!SVC.editable"		
															>
																	 <option value=""></option> 
																
											</select2>
										
										
                    </div>
									
                    <div class="form-group col-md-3">
						
											<b>Date Time</b> <br>

											<div class="dropdown">
												<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" >
													<div class="input-group">
													
													<input type="text" class="form-control"
													data-ng-model="SVC.slipCastObj.datetime"
													ng-disabled="!SVC.editable"		>
													<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
													</div>
												</a>
												<ul class="dropdown-menu"  ng-if="SVC.editable" role="menu" aria-labelledby="dLabel">
													<datetimepicker 
													data-on-set-time="SVC.editSlipcastObj('datetime',SVC.slipCastObj.datetime)"
													data-ng-model="SVC.slipCastObj.datetime"
													data-datetimepicker-config="{
													dropdownSelector: '#dropdown2',
													modelType: 'YYYY-MM-DD HH:mm:ss'
													
													}"
															
													/>
												</ul>
											</div>

                    </div>

                    <div class="form-group col-md-2">
										<b> Room Temperature (C) </b> <input type="number" class='form-control' ng-model="SVC.slipCastObj.room_temp_at_cast"
										ng-blur="SVC.editSlipcastObj('room_temp_at_cast',SVC.slipCastObj.room_temp_at_cast)"  placeholder="Room Temperature" 	ng-disabled="!SVC.editable"		> 
                    </div> 
										
								
								
						<div class='col-md-1 form-group' style='float:right'>
										
											<center><img width='100%' src="{{SVC.slipCastObj.datamatrix}}"></img></center>
										</div>
									
									</div>
                </form>
            </div>
        </div>
			
		
			<div class="card card-underline">
        <div class="card-head">
					<header>
           Positionsteelsleip
            </header>
        </div>
       <div class="card-body">
        <form class="form form-inline" ng-submit="test2()" style="padding:8px" ng-repeat="position in SVC.positions">

            <div class="form-group" style="margin:0.25em; padding:0.25em">
                    <div class="checkbox checkbox-inline checkbox-styled">
                        <label>
                <input type="checkbox" ng-model="rtoinput[position].timedata" placeholder="time"><span style="font-size: 1.5em" >  {{ position }}:</span>
                            </label>
                    </div>
                <span ng-show="rtoinput[position].timedata">
                <input type="number" class="form-control" ng-model="rtoinput[position].steel_id" placeholder="Steel ID">
                <input type="number" class="form-control" ng-model="rtoinput[position].slip_temp" placeholder="Slip Temp">
                <input type="number" class="form-control" ng-model="rtoinput[position].slip_temp" placeholder="Steel Temp">
                <input type="number" class="form-control" ng-model="rtoinput[position].slip_temp" placeholder="Position">
             
                <input type="text" class="form-control" ng-model="rtoinput[position].straightness" placeholder="Straightness">

                </span>
            </div>

            </form>
        </div>
    </div>

				
    </div>

		
<div class="col-lg-3">
	
		<div class="card card-underline card-collapsed" style="padding:10px">
        <div class="card-head">
				<header> Operators</header>
							<div class='tools'>
					
										<select2 
													
													style="width:150px"
													chosen
													ng-change="SVC.addOperator()"
													options="userData"
													ng-model="SVC.selectedOperator"
													s2-options="user.employeeid as user.firstname +' '+ user.lastname
																	for user in userData"
													ng-disabled="!SVC.editable"				
													>
																	 <option value="none" ></option> 
																
											</select2>
											
											<a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
										</div>
        </div>
        <div class="card-body" style="display:none;">

						<table class='table'>
						
							<tr ng-if="!SVC.slipCastObj.operators"><td colspan=2><center>Please add an Operator</center></td></tr>
							<tr ng-repeat="operator in SVC.slipCastObj.operators" >
								<td>{{operator.firstname}} {{operator.lastname}}</td>
								<td>
								<a 	ng-disabled="!SVC.editable"		
								class="btn btn-icon-toggle btn-refresh" tooltip-placement="top" uib-tooltip="Remove Operator" ng-click="SVC.removeOperator(operator.employeeID)">

                        <i style="color:red;" class="fa fa-trash-o fa-1x"></i>
                    </a>
									
									</td>
							</tr>
						
						
						
						</table>


        </div>
    </div>

	
	
    <div class="card card-underline" style="padding:10px">
        <div class="card-head">
            <header> Profile </header>
							<div class='tools'>

								
											<select2 
													chosen
													ng-change="SVC.editSlipcastObj('manu_slipcasting_profile_id',SVC.slipCastObj.manu_slipcasting_profile_id)"
													options="SVC.slipcastingProfiles"
													ng-model="SVC.slipCastObj.manu_slipcasting_profile_id"
													s2-options="profile.manu_slipcasting_profile_id as profile.profile_name
																	for profile in SVC.slipcastingProfiles"
															ng-disabled="!SVC.editable"		
															>
																	 <option value=""></option> 
																
											</select2>
										</div>
        </div>
        <div class="card-body">

						<table  class='table  dataTable'>
					
							<tr ng-if="!SVC.slipCastObj.profile"><td colspan=2><center>Please select a Profile</center></td></tr>
							<tr ng-repeat="(key,value) in SVC.slipCastObj.profile" ng-if="SVC.slipcastProfileFilter.indexOf(key) == -1 && value">
								<td><b>{{humanize(key)}}</b></td>
								<td>
									{{value}}
									</td>
							</tr>
						
			
						
						</table>


        </div>
    </div>
		
	</div>




<div class="col-lg-12">
  
</div>

