


<div id="filter_section" class="row" style="">

    <div class="col-md-1 pull-right">

        <button ng-click="" class="btn btn-icon-toggle btn-refresh" tooltip-placement="left" uib-tooltip="" style='float:right'>

            <i style="color:green;" class="fa fa-plus-circle fa-3x"></i>
        </button>

    </div>

</div>





<table datatable="" dt-options="SC.dtTable" dt-columns="SC.dtTable" class="table table-striped table-hover table-stats  dataTable shadow clickablerows" style='Width:100%; margin-top:10px;'>

</table>



