


<div id="filter_section" class="row" style="">


    <div class="form-group col-md-3">
        <label> Campaign </label>
        <select class="form-control" ng-model="SC.campaign_id" ng-change="SC.updateTable()">
            <option value="">None</option>
            <option value="12">HESS 003</option>
            <option value="7">HESS 002</option>

        </select>
    </div>
    <div class="col-md-1 pull-right">

        <a ng-click="SC.createSlipcastRun()" class="btn btn-icon-toggle btn-refresh" tooltip-placement="left" uib-tooltip="New Slipcast" style='float:right'>

            <i style="color:green;" class="fa fa-plus-circle fa-3x"></i>
        </a>

    </div>

</div>

</div>




<table datatable="" dt-options="SC.dtTable"  class="table table-striped table-hover table-stats  dataTable shadow clickablerows" style='Width:100%; margin-top:10px;'>

</table>



