section .style-primary, .offcanvas-pane .style-primary, .card .style-primary, section.style-primary, .offcanvas-pane.style-primary, .card.style-primary {
	
	
background-color: #4E6C8C;
border-color: #000000;
	
	
}

body {
	
	
	    background: rgb(255, 255, 255);
	
}

.section-body {
	
	padding-left: 3em;
	padding-right: 3em;
	
}

.uib-weeks .btn 
{
	
	margin-top: 0px;
	margin-right: 0px;
	
	
}

#menubar.menubar-inverse:before {
	
	    background: #384b5f;
}
.menubar-inverse .gui-controls li .title {
	    color: rgb(255, 255, 255);
	
}


.menubar-inverse .gui-controls li.gui-folder > a .title {
	  color: rgb(255, 255, 255,0.75);
}

.menubar-inverse .gui-controls li.gui-folder.expanded > a .title, .menubar-inverse .gui-controls li.gui-folder.active > a .title {
	
	color: rgb(255, 255, 255);
}

.gui-controls li.expanded > ul {
    margin-top: 5px;
		
}

.clickablerows tbody tr:hover{
	
	
	cursor:pointer;
	
}


.clickable:hover{
	
	
	cursor:pointer;
	
}


#header{
	    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.63);
	
	
}

#base{
	

	    background-image: url('../../assets/img/transparent.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.card{
	    background-color: rgba(255, 255, 255, 0.82);
		/* 	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.46); */
			box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.46);
}

.shadow{
	
	  
		box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.46);
	
}

.card-underline .card-head {
    border-bottom: 1px solid rgb(65, 120, 167);
}
::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
	text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
	text-align: center;
}

:-ms-input-placeholder {
	text-align: center;
}



.orangebackground{
	
	
	    background-color: rgba(243, 143, 0, 0.71);
	
}

.angularjs-datetime-picker input[type=range] {
	
	width:100%;
	
	
	
}

.form-control{
	
	text-align:center;
	
}


.dropzone {
	
	border: 2px dashed #0087F7;
	
}

table.sexystripes   th {
	color: white;
	background-color: #456382;
	text-align: center;
	border-right: 1px solid white;
	border-radius: 2px;
}
table.sexystripes th:last-child{
	border-right: 0;
}
table.sexystripes tbody td {
	padding: 0.75em;
}

td.centertext {
	text-align: center;
}


/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.my-handle{
	cursor: move;
	cursor: -webkit-grabbing;
}

ul.dnd {
	list-style-type: none;
	padding-left:0px;
}
ul.dnd:before, ul.dnd:after {
	display: block;
}

ul.dnd li {
	margin:0;
	padding: 7.5px;
	border-top: 1px solid rgba(189, 193, 193, 0.2);
}
ul.dnd li:nth-child(even) {
	width: 100%;
	background: rgba(238, 238, 238, 0.3);
}
ul.dnd li:nth-child(odd){
	width: 100%;
	background: white;
}
ul.dnd li:last-child{
	border-bottom: 1px solid rgba(189, 193, 193, 0.2);
}
div.card-head-xs
{
	height: 0.5rem;
}
table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before
{
	color: white;
}
button.btn-select
{
	font-size: 0.8em;
	width: 8%;
	display: inline;
	margin-top: 0 !important;
}