section .style-primary, .offcanvas-pane .style-primary, .card .style-primary, section.style-primary, .offcanvas-pane.style-primary, .card.style-primary {
	
	
background-color: #4E6C8C;
border-color: #000000;
	
	
}

body {
	
	
	    background: rgb(250, 250, 250);
	
}

