<div  >
	
	
<div class='col-sm-8'>	   
	<div ng-if="!DC.images[0]" class='row'>
		<center>
			<h2 style='margin-top:50px'><small>No Images Were Found</small></h2>
		</center>
	</div>
	
		<div ng-if="DC.images" class='row'>
		
		
		
					<div class='col-md-1'  ng-repeat="image in DC.images">
					<center>
									<a style="cursor:pointer;" ng-click="DC.openLightboxModal($index)">
							<img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
						</a>
						
						<a class="btn btn-icon-toggle btn-refresh" tooltip-placement="top" uib-tooltip="Delete" ng-click="DC.deleteImage($index)">

                        <i style="color:red;" class="fa fa-trash-o fa-1x"></i>
						</a>
						</center>
					</div>
		
			
			
<!-- 		
					<div ng-if="DC.images" ng-repeat="img in DC.images" class='col-sm-2'>
							<img src="{{img.src}}">
					
					</div>
		 -->
		
		</div>

</div>


<div class='col-sm-4'>	   
	

		<form class="dropzone"
        method="post"
        enctype="multipart/form-data"
        ng-dropzone
        dropzone="DC.dropzone"
        dropzone-config="DC.dropzoneConfig"
        event-handlers="{ 
				'addedfile': DC.dzAddedFile,
				'error': DC.dzError,
				'sending': DC.dzSending,
				'success': DC.dzSuccess
				}">
		</form>  
		
		<center><h3 style='margin:0px'> <small>  Identifier: {{DC.identifier}}</small></h3></center>
	
</div>


</div>