<div  >
	
	
<div class='col-sm-8'>	   
	
	
		<div class='row'>
		
					<div ng-if="DC.images" ng-repeat="img in DC.images" class='col-sm-2'>
							<img src="{{img.src}}">
					
					</div>
		
		
		</div>
<!-- 		<button id="btn">Open PhotoSwipe</button>
				
				<div ng-photoswipe
						 slides="DC.slides"
						 open="isOpen"
						 slide-selector=".pswp"
						></div> -->

</div>


<div class='col-sm-4'>	   
	

		<form class="dropzone"
        method="post"
        enctype="multipart/form-data"
        ng-dropzone
        dropzone="DC.dropzone"
        dropzone-config="DC.dropzoneConfig"
        event-handlers="{ 
				'addedfile': DC.dzAddedFile,
				'error': DC.dzError,
				'sending': DC.dzSending,
				'success': DC.dzSuccess
				}">
		</form>  
		
		<center><h3 style='margin:0px'> <small>  Identifier: {{DC.hash}}</small></h3></center>
	
</div>


</div>