<div  >
	
	
<div class='col-sm-8'>	   
	
				<p> Populate them isadsadmages here </p>

</div>


<div class='col-sm-4'>	   
	

		<form class="dropzone"
        method="post"
        enctype="multipart/form-data"
        ng-dropzone
        dropzone="DC.dropzone"
        dropzone-config="DC.dropzoneConfig"
        event-handlers="{ 
				
				'addedfile': DC.dzAddedFile, 
				'error': DC.dzError,
				'sending': DC.dzSending
				}">
		</form>  
		
		<center><h3 style='margin:0px'> <small>  Identifier: {{DC.id}}</small></h3></center>
	
</div>


</div>