<!DOCTYPE html>
<html lang="en" ng-app="webApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>

    <!-- Bootstrap -->

    <!-- BEGIN STYLESHEETS -->
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/materialadmin.css">
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/material-design-iconic-font.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/rickshaw/rickshaw.css?1422792967" />
    <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/morris/morris.core.css?1420463396" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

</head>



<body class="menubar-hoverable header-fixed" >

<p>duh duh duhhhh</p>


</html>
